<div class= "container">
<h1>Sign Up</h1>

<%= render 'form', user: @user %>


<%= link_to "Sign up with Facebook", "/auth/facebook" %>
<br>
<%= link_to 'Already has an account? Sign in', new_session_path %>
</div>