/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .indicator{
 	width: 100px;
 	height: 20px;
 	background: #666666;
 	float: left;
 	text-align: center;
 	color: white;
 	cursor: pointer;
 }

 .active{
 	background: #99c2ff;
 	color: black;
 }
 #status_notdone{}
 	
 #status_doing{}

 #status_done{}
